<html>
    <head></head>
    <body>
        <h1>CAMBIO DE CONTRASEÑA </h1>
        <form action='#' method='POST'>
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            {% if not form.is_valid %}
                <button>Enviar</button>
            {% endif %}
        </form>

        {% include 'messages.html' %}
    </body>
</html>