.css-nosotros .info-nosotros .w-main .items .w-text p {
    color: rgb(152, 152, 152);
    font-family: 'Pontano Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 25px;
}